@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  color: #171717 !important;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #171717 !important;
  opacity: 0.8;
}

/* Perssonalized scroll bar with aplication color*/
::-webkit-scrollbar {
  width: 12px;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background);
  border-radius: 12px;
}